.intro {
    font-family: 'Calibre-R-Regular';
    font-size: 180%;
    padding-left: 10%;
    padding-right: 10%;
        color: #878381;
}

.intro2 {
    font-family: 'Calibre-R-Regular';
    font-size: 180%;
    padding-left: 10%;
    padding-right: 10%;
    color: #878381;
}

body {
    background-color: #474341;
}


.ranasoliman {
        font-family: 'DalaFlodaRoman';
    font-size: 120%;
    letter-spacing: 0.04rem;
}

@font-face {
    font-family: 'Calibre-R-Regular';
    src: url("../fonts/Calibre-R-Regular.otf") format("opentype");  
}

@font-face {
    font-family: 'DalaFlodaRoman';
    src: url("../fonts/DalaFlodaRoman.otf") format("opentype");  
}